)================================================================()
          host:   {{ ansible_hostname }}
        kernel:   {{ ansible_kernel }}
          WELCOME TO RED HAT SERVER
()===============================================================()